:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}   

body { 
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background: #ffff
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo-part {
    font-weight: 700;
    font-size: 18px;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

.nav-link {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus {
    color: #404BBF;
}
.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-link:hover, .address-link:focus {
    color: #404BBF;
}

.esol {
    background: var(--navy-blue);
}

.esol-head {

    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.esol-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background: var(--iris);
}

.esol-button:hover, .esol-button:focus {
    color: #FFFFFF;
    background: var(--ocean);
}

.about {}

.about-head {}

.about-list {}

.about-item {}

.about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background: var(--cloud);
}

.team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.team-list {

}

.team-item {

    background: var(--white);
}

.team-img {}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.portfolio {
    background: var(--white);
}

.portfolio-head {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.foot {
    background: var(--navy-blue);
}

.foot-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.foot-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: none;
    color: var(--cloud);
}